<div class="lesson">
  <div class="base-component">

      <mat-form-field class="subject">
        <input matInput [(ngModel)] = "subject" placeholder="Предмет">
      </mat-form-field>

      <mat-form-field class="teacher">
        <input matInput [(ngModel)] = "teacher" placeholder="Викладач">
      </mat-form-field>

      <mat-form-field class="lectureHall">
        <input matInput [(ngModel)] = "lectureHall" placeholder="Аудиторія">
      </mat-form-field>

      <mat-form-field class="lessonType">
        <mat-select [(value)]="selectedLessonType" placeholder='Тип пари'>
          <mat-option *ngFor="let type of lessonType" [value]="type" (click)="lessonTypeChange(selectedLessonType)">
            {{type.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</div>
