
<nav class="navigation">
    <div class="container">
      <a class="navbar-brand">Scheduler</a>
    </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
      <form-comp></form-comp>
    </div>
    <div class="col-1">
    </div>
  </div>

  <div class="row card">
    <div class="col-sm card-body">
      <schedule-input></schedule-input>
    </div>
  </div>


</div>

<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Scheduler</p>
  </div>
</footer>
