
<nav class="navigation">
    <div class="container">
      <a routerLink = "/group-select">
        <a class="navbar-brand">Scheduler</a>
      </a>
    </div>
</nav>

<div class="container">

  <div class="row card">
    <div class="col-sm card-body" (onGroupName)="setGroup($event)" (onTimeCustomization)="setTimeCustomization($event)">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="py-3 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Scheduler</p>
  </div>
</footer>
