@import '../../../styles.scss';

.group-select {
  display: flex;
  flex-direction: column;
  margin-top: 10pt;
}

.group-select > * {
  width: 100%;
}

.group-select-small-width{
  width: 60%;
}

.basic-container {
  padding: 10px;
}

.mat-raised-button{
  width: 15%;
}
