@import '../../../styles.scss';

.group-select {
  display: flex;
  flex-direction: column;
}

.group-select > * {
  width: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}
