
<div class="group-select card">
  <div class="card-body">
    <h2>Група</h2>
    <h5>Введіть групу, для якої хочете створити розклад.</h5>
    <div class="base-component text-center">
      <mat-form-field class="group-select-small-width" [style.width]="'40%'">
        <input matInput [(ngModel)] = "groupName" placeholder="Група" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('required')">Поле обов'язкове для введення</mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="emailFormControl.hasError('required')" (click)="checkExistence(groupName)">Ввести</button>
    </div>
  </div>
</div>
