<div>
  <h2>Відомості про пари:</h2>

  <mat-tab-group>
    <mat-tab label="Перший тиждень">
      <mat-expansion-panel *ngFor="let week of weeks">
        <mat-expansion-panel-header>
         <h6>{{week.name}}</h6>
        </mat-expansion-panel-header>
        <day></day>
      </mat-expansion-panel>
    </mat-tab>
    <mat-tab label="Другий тиждень">
      <mat-expansion-panel *ngFor="let week of weeks">
       <mat-expansion-panel-header>
          <h6>{{week.name}}</h6>
       </mat-expansion-panel-header>
       <day></day>
      </mat-expansion-panel>
    </mat-tab>
    <mat-tab label="Копіювати">
    </mat-tab>
  </mat-tab-group>

</div>
