<div class="center">
  <div>
    <h5>Час початку занять</h5>
    <mat-form-field [style.width]="'70%'">
      <mat-select [(value)]="selectedStudyBeginning"  placeholder='Час початку першої пари'>
        <mat-option *ngFor="let time of studyBeginningTime" [value]="studyBeginningTime" (click)="changeStudyBeginning(time.value)">
          {{time.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h5>Тривалість пари</h5>
    <mat-form-field [style.width]="'70%'">
      <mat-select [(value)]="selectedLessonDuration" placeholder='Тривалість пари'>
        <mat-option *ngFor="let duration of lessonDuration" [value]="lessonDuration" (click)="changeLessonDuration(duration.value)">
          {{duration.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row">
      <div class="col-6">
        <break-selector *ngFor="let activeBreak of oddBreaks; let i = index" [lesson]="activeBreak.value" (onDuration)="breakChange(i, $event)">
        </break-selector>
      </div>
      <div class="col-6">
        <break-selector *ngFor="let activeBreak of evenBreaks; let i = index" [lesson]="activeBreak.value" (onDuration)="breakChange(i, $event)">
        </break-selector>
      </div>
    </div>
  </div>
</div>
