<div class="card">
  <div class="card-body">
    <h2>Час навчання</h2>

    <h5>Дата початку занять</h5>
    <mat-form-field  [style.width]="'70%'">
      <input matInput [(ngModel)]="selectedStudyBeginningDate" (ngModelChange)="changeStudyBeginningDate(selectedStudyBeginningDate)" [matDatepickerFilter]="myFilter" [matDatepicker]="dp" placeholder="Виберіть дату" disabled>
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #dp disabled="false"></mat-datepicker>
    </mat-form-field>

    <h5>Кількість навчальних тижнів</h5>
    <mat-form-field [style.width]="'70%'">
      <mat-select [(value)]="selectedNumberOfWeeks"  placeholder='Кількість навчальних тижнів'>
        <mat-option *ngFor="let number of numberOfWeeks" [value]="number" (click)="changeNumberOfWeeks(selectedNumberOfWeeks)">
          {{number.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h5>Час початку занять</h5>
    <mat-form-field [style.width]="'70%'">
      <mat-select [(value)]="selectedStudyBeginning"  placeholder='Час початку першої пари'>
        <mat-option *ngFor="let time of studyBeginningTime" [value]="time" (click)="changeStudyBeginning(selectedStudyBeginning)">
          {{time.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h5>Тривалість пари</h5>
    <mat-form-field [style.width]="'70%'">
      <mat-select [(value)]="selectedLessonDuration" placeholder='Тривалість пари'>
        <mat-option *ngFor="let duration of lessonDuration" [value]="duration" (click)="changeLessonDuration(selectedLessonDuration)">
          {{duration.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="row">
      <div class="col-6">
        <break-selector *ngFor="let activeBreak of oddBreaks; let i = index" [lesson]="activeBreak.value" (onDuration)="breakChange(i, $event)">
        </break-selector>
      </div>
      <div class="col-6">
        <break-selector *ngFor="let activeBreak of evenBreaks; let i = index" [lesson]="activeBreak.value" (onDuration)="breakChange(i, $event)">
        </break-selector>
      </div>
    </div>
  </div>
</div>

<div>
  <p class="m-0 text-center text-black">
    <button mat-raised-button >Попередній крок</button>
    <button mat-raised-button >Наступний крок</button>
  </p>
</div>
