<div class="center">
  <div>
    <h3>Час початку занять</h3>
    <mat-form-field>
      <mat-select [(value)]="selectedStudyBeginning"  placeholder='Час початку першої пари'>
        <mat-option *ngFor="let time of studyBeginningTime" [value]="studyBeginningTime" (click)="changeStudyBeginning(time.value)">
          {{time.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <h3>Тривалість пари</h3>
    <mat-form-field>
      <mat-select [(value)]="lessonDuration" placeholder='Тривалість пари'>
        <mat-option *ngFor="let duration of lessonDuration" [value]="lessonDuration" (click)="changeLessonDuration(duration.value)">
          {{duration.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngFor="let activeBreak of breaks; let i = index" >
      <break-selector [lesson]="activeBreak.value" (onDuration)="breakChange(i, $event)">

      </break-selector>
    </div>
  </div>
</div>
